.fila-light {
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: rgb(224, 224, 224);
}

.fila-dark {
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 24, 24);
}

