.botonNumero {
    height: 70px;
    width: 70px;
    display: flex;
    flex: 1 1;
    
    align-items: center;
    justify-content: center;
    
    font-family: monospace;
    font-weight: lighter;
    font-size: 35px;

    background: #dde1e7;
    color: rgb(10, 10, 10);
    border-radius: 70px;
    border: none;

    padding: 0px;
    margin: 4px;
    cursor: pointer;
    user-select: none;

    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}

.botonNumero:hover {
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
}