.botonIgual {
    height: 70px;
    width: 70px;
    display: flex;
    flex: 1 1;
    
    align-items: center;
    justify-content: center;
    
    font-family: monospace;
    font-weight: lighter;
    font-size: 35px;

    background-color: green;
    color: whitesmoke;
    border-radius: 70px;
    border: none;

    padding: 0px;
    margin: 4px;
    cursor: pointer;
    user-select: none;
}

.botonIgual:hover {
    background-color: #5a01a7;
}