.App-light {
    height: 100vh;
    padding: 10px;
    background-color: rgb(224, 224, 224);
    background-size: cover;
    font-family: Montserrat;
    padding: 0;
}

.App-dark {
    height: 100vh;
    padding: 10px;
    background-color: rgb(26, 24, 24);
    background-size: cover;
    font-family: Montserrat;
    padding: 0;
}

.calculadora-light {
    width: 320px;
    height: auto;
    padding: 14px;  
    border-radius: 15px;
    display: block;
    position: absolute;
    top: 55vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: rgb(224, 224, 224);
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}

.calculadora-dark {
    width: 320px;
    height: auto;
    padding: 14px;
    border-radius: 15px;
    display: block;
    position: absolute;
    top: 55vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: rgb(26, 24, 24);
    color: rgb(255, 255, 255);
    box-shadow: -3px -2px 10px rgb(0, 0, 0), 3px 2px 10px rgba(255, 255, 255, 0.247);
}

/* .nav {
    background-color: red;

    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);

} */